body {
  background-color: black;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: white;
  }
  
  .circle-box {
    display: flex;
    justify-content: center;
    align-items: center;
   
    height: 100%;
   
  }

  .circle-array {
    
    
    animation: rotate 90s infinite;
    animation-timing-function: linear; 
    
    }

   @keyframes rotate {
    from { transform: rotate(360deg); }
    to { transform: rotate(0deg); }
  }  
  .title {
    position: absolute;
  }
  .ui header { 
    color: white;
  }
  .s-circle {
    fill: none;
    fill-opacity: 0.0; 
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  .s-circle:hover, .s-circle:focus, .s-circle:active {
    fill: #138fc9;
    fill-opacity: 0.5; 
  }
  .name {
    color: white;
  }
  #sub-title {
    color: white;
  }
  