.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: white;
  }
  
  .ui header {
    color: white;
  }
  
  #name {
    color: white;
  }
  #sub-title {
    color: white;
  }
  